<div class="container">
  <section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field class="example-full-width ">
        <input
        type="email"
        matInput
        placeholder="Your Email"
        ngModel name="email"
        email
        required
        #emailInput="ngModel"
        >
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width " hintLabel="Should be at least 6 characters long">
          <input
          type="password"
          matInput
          placeholder="Your password"
          ngModel name="password"
          name="password"
          required
          minlength="6"
          #pwInput="ngModel">
          <mat-hint align="end">{{ pwInput.value?.length}} / 6</mat-hint>
          <mat-error>Has to be atleast 6 characters long</mat-error>
      </mat-form-field >
      <br>

      <button
        class="center"
        type="submit"
        mat-raised-button color="primary"
        [disabled]="f.invalid"
      >
        Login
      </button>
    </form>
  </section>
</div>
