<div class="container-fuild">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand" routerLink="/" routerActiveLink="active">Angular Material with Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarcollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/welcome" routerLinkActive="active">Welcome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/training" routerLinkActive="active">Training</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a href="" routerLink="/signup" routerLinkActive="active" class="nav-link">Sign Up</a>
          </li>
          <li class="nav-item">
              <a href="" routerLink="/logout" routerLinkActive="active" class="nav-link">Logout</a>
            </li>
        </ul>
      </div>
    </div>
    </nav>
</div>
